<iframe src="https://www.google.com/maps/d/embed?mid=1XtfK9xsDVMM9njx1NG0XA-_TKX8&hl=tr" class="w-100"
  style="height: 50vh; margin-top: 2em;"></iframe>

<div class="col-12" style="background: unset; height: unset;">
  <div class="pritem h-100 container">
    <div class="g-0 row">
      <div class="col-12">
        <div class="wItem" style="margin: 50px 0px 0px;">
          <div>
            <div class="row">
              <div class="col-12 text-center">
                <div class="title" style=" font-size: 25px; font-weight: bold;"> ASYILDIZ YETKİLİ MÜESSESE A.Ş.</div>
                <div class="borderout row m-0 justify-content-center">
                  <div class="border"
                    style="background-color: rgb(196, 156, 72); height: 5px; width: 200px; margin-top: 1em;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="align-self-center col-12">
        <div class="wItem" style="margin: 50px 0px; box-shadow: rgba(0, 0, 0, 0.5) 0px 15px 30px;">
          <div>
            <div class="row p-0">
              <div class="text-center mb-25 col-md-6 col-sm-12">
                <div class="features-wrap"><br><br><br>
                  <div class="features-icon"><i class="material-icons"
                      style="color: rgb(196, 156, 72); font-size: 30px;">phone</i></div>
                  <h4 style="  font-size: 22px;">Telefon</h4>
                  <a href="tel:+90216 574 44 00"><p style="  font-size: 18px;">0216 574 44 00 (pbx)</p></a>

                </div>
              </div>
              <div class="text-center mb-25 col-md-6 col-sm-12">
                <div class="features-wrap">
                  <div class="features-icon"><br><i class="material-icons"
                      style="color: rgb(196, 156, 72); font-size: 40px;">phone</i></div><br>
                      <h4 style="  font-size: 22px;">Telefon</h4>
                  <a href="tel:+90532 314 89 98"><p style="font-size: 18px;">0532 314 89 98</p></a>
                </div>
              </div>
              <div class="text-center mb-25 col-md-12 col-sm-12">
                <div class="features-wrap">
                  <div class="features-icon"><br><br><i class="material-icons"
                      style="color: rgb(196, 156, 72); font-size: 50px;">pin_drop</i></div><br><br>
                  <h4 style="  font-size: 22px;">Adres</h4>
                  <p style="  font-size: 18px;">Kayışdağı Cad. No:75/A Küçükbakkalköy / Ataşehir / İstanbul.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
