<div id="footer" style="margin-top: 0px;">
  <img class="logo" src="../../../assets/images/logos/lightlogo.png" alt="Hakan Döviz Yetkili Müessese A.Ş."
    title="Hakan Döviz Yetkili Müessese A.Ş." style="margin-top: -.3em; ">
  <div style="margin-top: -.4em;">
    <table>
      <tbody>
        <tr>
          <td>
            <ul>
              <li><a href="#">Ana sayfa</a></li>
              <li><a href="#">Canlı veriler</a></li>
              <li><a href="#">Kurumsal</a></li>
            </ul>
          </td>
          <td>
            <ul>
              <li><a href="#">İnsan Kaynakları</a> </li>
              <li><a href="#">İletişim</a></li>
              <li><a href="#">Sorumluluk ve Uyum</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="mobileapps">
    <a href="#">
      <img src="../../../assets/images/utils-assest-image/google-play.png" style="width: 181px; height: 70px;"></a>
    <a href="#">
      <img src="../../../assets/images/utils-assest-image/app-store.svg"
        style="width: 174px; height: 100px; padding: 12px 0;">
    </a>
  </div>
  <div class="disclaimer">
    <strong style="color: unset;">Yasal uyarı:</strong> Hakan Döviz Yetkili Müessese A.Ş. resmi internet sitesi üzerinde
    sunulan tüm bilgiler (anlık kur bilgileri, piyasa haberleri vb.) yalnızca bilgilendirme amaçlı olup hiç bir yatırım
    önerisi teşkil etmemektedir ve yatırım danışmanlığı kapsamında değillerdir. Elektronik ortam üzerinden her türlü
    canlı verinin iletilmesi sırasında yaşanabilecek teknik aksaklıklardan Hakan Yetkili Müessese A.Ş. sorumlu
    tutulamaz.<br>
    Yasal uyarı metninin tamamını okumak için <a href="#">buraya</a> tıklayınız.
  </div>
</div>
