<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menubar">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">ANA SAYFA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="our-stores">MAĞAZALARIMIZ</a>
      </li>
      <li class="nav-item ">
        <a lass="nav-link" routerLink="all-pirce"> <span style="position:relative; top: 0em;"> CANLI VERİLER <i
              class="material-icons" style="position:relative; top: 0.3em;">arrow_drop_down</i> </span> </a>
        <div class="sub-menu">
          <ul>
            <li class="nav-item " style="float: left;"> <a class="nav-link" routerLink="all-pirce">Canlı Takip Sayfası
              </a> </li>
            <li class="nav-item " style="float: left;"> <a class="nav-link" routerLink="currencies-prices">Döviz Ve Pariteler</a> </li>
            <li class="nav-item " style="float: left;"> <a class="nav-link" routerLink="gold-pirces">Altın Ve Emtia</a> </li>
            <li class="nav-item " style="float: left;"> <a class="nav-link" href="#">Endeksler</a> </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">KURUMSAL</a>
      </li>
      <li class="nav-item ">
        <a lass="nav-link" href="#"> <span style="position:relative; top: 0em;"> KVKK <i class="material-icons"
              style="position:relative; top: 0.3em;">arrow_drop_down</i> </span> </a>
        <div class="sub-menu">
          <ul>
            <li class="nav-item "> <a class="nav-link" href="#">Aydınlatma Metni</a> </li>
            <li class="nav-item "> <a class="nav-link" href="#">Altın Ve Emita</a> </li>
            <li class="nav-item "> <a class="nav-link" href="#">Veri Sahibi Başvuru Politikası</a> </li>
          </ul>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">İLETİŞİM</a>
      </li>
    </ul>
  </div>
</nav>
