

<div id="header">
  <div id="banner">
      <div style="float: left; height: 100%;">
          <table>
              <tbody>
                  <tr>
                      <td id="mobilemenu"  >
                          <div>
                              <img id="mmicon" src="../../../../assets/images/utils-assest-image/navbar.svg" (click)="toggleNavbar();">
                          </div>
                          <div id="mm"  class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ 'show': isCollapsed }">
                              <div id="mm_canliveri">
                                  <a  routerLink="/" style="color:#ADD8E6;">Anasayfa</a>
                              </div>
                              <div id="mm_canliveri">
                                  <a  routerLink="all-pirce"  style="color:#ADD8E6;" >Canlı veriler</a>
                              </div>
                              <div id="mm_dovizparite" class="submenu">
                                  <a  routerLink="currencies-prices"  style="color:#ADD8E6;">Döviz &amp; Parite</a>
                              </div>
                              <div id="mm_altinemtia" class="submenu">
                                  <a routerLink="gold-pirces"  style="color:#ADD8E6;">Altın &amp; Emtia</a>
                              </div>
                              <div id="mm_kurumsal" >
                                  <a routerLink="about"  style="color:#ADD8E6;">Kurumsal</a>
                              </div>
                              <div id="mm_kvk">
                                  <a href="https://hakandoviz.com/kvk.aspx"  style="color:#ADD8E6;">KVK</a>
                              </div>
                              <div id="mm_iletisim">
                                  <a routerLink="contact"  style="color:#ADD8E6;">İLETİŞİM</a>
                              </div>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>

<div id="contact">
  <div><a class="iconed" style="background-image: url(../../../../assets/images/icon/phone.png);" href="tel:0216 574 44 00">0216 574 44 00</a></div>
  <div><a class="iconed" style="background-image: url(../../../../assets/images/icon/callus.png);" href="tel:08506680202">0850 668 02
          02</a></div>
  <div><a class="iconed" style="background-image: url(/images/email.png);"
          href="mailto:info@hakandoviz.com">info@hakandoviz.com</a></div>
</div>
<div >
  <div>
    <div id="menubar" >
      <div  >
          <h2><i class="fas fa-backspace" style="margin-right: 12px;" ></i>Menü</h2>
      </div>
      <ul>
          <li routerLink="all-pirce"  style="color:#ADD8E6;">ANA SAYFA</li>
          <li>   <a  routerLink="all-pirce"  style="color:#ADD8E6;">Canlı veriler</a>
              <div><a class="menuitem" href="#">
                      <div  style="color:#ADD8E6;" >Canlı Takip Sayfası</div>
                  </a><a class="menuitem" href="#">
                      <div routerLink="currencies-prices"  style="color:#ADD8E6;">Döviz ve Pariteler</div>
                  </a><a class="menuitem" href="#">
                      <div routerLink="gold-pirces" style="color:#ADD8E6;" >Altın ve Emtia</div>
                  </a>
                </div>
          </li>
          <li><a routerLink="about"  style="color:#ADD8E6;">KURUMSAL</a></li>
          <li><a  class="submenu" style="color:#ADD8E6;">KVKK</a>
              <div><a class="menuitem" href="#">
                      <div  style="color:#ADD8E6;">KVKK Politikası</div>
                  </a><a class="menuitem" href="#" style="color:#ADD8E6;">
                      <div  style="color:#ADD8E6;">Gizlilik ve Çerez
                          Politikası</div>
                  </a><a class="menuitem" href="#" style="color:#ADD8E6;">
                      <div  style="color:#ADD8E6;">Aydınlatma Metni</div>
                  </a><a class="menuitem" href="#"  style="color:#ADD8E6;">
                      <div  style="color:#ADD8E6;">Veri sahibi başvuru formu </div>
                  </a></div>
          </li>
          <li><a routerLink="contact"style="color:#ADD8E6;" >İLETİŞİM</a></li>

      </ul>

    </div>
  </div>

</div>

