<div id="page" class="noflag">
  <div class="subpage" style="padding: 0;">
    <div class="fleximobile">

      <div class="ratebox fx" style="width: 40em;">
        <div class="header">
          <img src="../../../assets/images/icon/currency-calc.png" class="header-logo" alt="">
          <h1 class="imgtitle altin">Döviz</h1>
          <div class="options">
            <span class="awesomebutton list "></span>
          </div>
        </div>
        <div style="overflow:scroll; height: 30em;">
          <table style="width: 35em;">
            <thead class="sticky" style="background-color:rgb(58, 58, 58);  color: white;">
              <tr>
                <th scope="col">Sembol </th>
                <th scope="col">Alış</th>
                <th scope="col">Satış</th>
              </tr>
            </thead>
            <tbody *ngFor="let socketData of currencyList;" >
              <tr [ngClass]="{'up': socketData.askPercentChange > 0,
                'down': socketData.askPercentChange < 0}">
                <td> <span > {{socketData.Code}} </span> </td>
                <td> <span > {{socketData.Ask}}  </span> </td>
                <td> <span > {{socketData.Bid}}  </span>  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="ratebox fx" style="width: 40em;">
        <div class="header">
          <img src="../../../assets/images/icon/gold.png" class="header-logo" alt="">
          <h1 class="imgtitle altin">Altın</h1>
          <div class="options">
            <span class="awesomebutton list "></span>
          </div>
        </div>
        <div style="overflow:scroll; height: 30em;">
          <table style="width: 35em;">
            <thead class="sticky" style="background-color:rgb(58, 58, 58); color: white;">
              <tr>
                <th scope="col">Sembol </th>
                <th scope="col">Alış</th>
                <th scope="col">Satış</th>
              </tr>
            </thead>
            <tbody *ngFor="let socketData of ziynetList;" >
              <tr [ngClass]="{'up': socketData.askPercentChange > 0,
                'down': socketData.askPercentChange < 0}">
                <td> <span > {{socketData.Code}} </span> </td>
                <td> <span > {{socketData.Ask}}  </span> </td>
                <td> <span > {{socketData.Bid}}  </span>  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="mobilead" style="min-height: 500px;">
        <img src="../../../assets/images/utils-assest-image/mobile-and-tablet-apps.png"
          style="width: 580px; height: 235px; max-width: 100%; height: auto;">
        <h1>Mobil uygulamalarımız ile her daim alarmda kalın</h1>
        <p>
          Hakan Döviz mobil uygulamalarımız ile favori döviz cinsleriniz için kur alarmları oluşturabilir
          ve hedeflediğiniz kura ulaşıldığında
          mobil bildirimler alabilirsiniz.
        </p>
        <h1>Anlık piyasa takibi</h1>
        <p>
          Hem mobil uygulamalarımız hem de web sitemiz üzerinden güncel kur bilgilerine anlık olarak
          erişebilir ve canlı veri sayfalarımızı takip edebilirsiniz.
        </p>
        <h1>Ücretsiz indirin</h1>
        <p>
          Tüm mobil ve tablet uygulamalarımızı ilgili market üzerinden ücretsiz olarak indirilebilir ve
          kullanabilirsiniz.
        </p>
        <div id="mobileapps">
          <a href="#">
            <img src="../../../assets/images/utils-assest-image/google-play.png"
              style="width: 181px; height: 70px;"></a>
          <a href="#">
            <img src="../../../assets/images/utils-assest-image/app-store.svg" style="width: 174px; height: 46px; "></a>
        </div>
      </div>
    </div>
    <div id="nw" style="margin-top: 6.4em;">
      <section id="news">
        <div class="caption">
          <h1 class="imgtitle haber">Ekonomik Takvim</h1>
        </div>
        <div id="newswrapper">
          <div id="allnews" class="scroll">
            <div>
              <table class="news">
                <thead class="sticky-top">
                  <tr>
                    <th>KATEGORİ</th>
                    <th>KAYNAK</th>
                    <th>ZAMAN</th>
                    <th></th>
                    <th>BAŞLIK</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let news of technewsDisplay;">
                    <th>EKONOMİ</th>
                    <th>{{news.source.name}}</th>
                    <th>{{news.publishedAt | date}}</th>
                    <th>{{news.title}}</th>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>

          <div id="newsdetail">
            <span class="closebutton" onclick="close_newsdeteail(this);"></span>
            <div id="ndf" class="scroll">
              <span id="newsdetail_ts" class="timespan">00:00</span>
              <div style="height: 12px;"></div>
              <h3 id="newsdetail_title">.</h3>
              <div style="height: 10px;"></div>
              <div id="newsdetail_full">
                .
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div id="p1">
    <img src="../../../assets/images/utils-assest-image/dovizpane.png">
    <div>
      <div>
        <h3>İşinizi yaparken vakit kaybetmeyin.</h3>
        <p>
          Sektörde uzman çalışma kadromuz ile müşterimize en hızlı ve efektif şekilde hizmet vermek için çalışıyoruz.
        </p>
        <p>
          Zamanınızın değerli olduğunu biliyor ve işlemlerinizi en hızlı şekilde gerçekleştiriyoruz.
        </p>
      </div>
      <div>
        <h3>Nakit veya banka aracılığı ile işlem gerçekleştirebilirsiniz.</h3>
        <p>
          Kurumumuz T.C. Hazine Bakanlığı ‘nca verilen yetki belgesi ile resmi bir Yetkili Müessese olarak döviz alım
          satım işlemlerinizi banka aracılığı ile gerçekleştirmeye tam yetkilidir.
        </p>
      </div>
    </div>
  </div>
</div>
